<app-header></app-header>

<div class="container">
    <h1 class="display-1 text-center">
        Authors
    </h1>
    <br>
    <form (submit)="isEditing ? updateAuthor() : addAuthor()">
        <div *ngIf="!isEditing">
            <div class="mb-3">
                <label for="inputAuthor" class="form-label">Name Author</label>
                <input type="text" class="form-control" id="inputAuthor" [(ngModel)]="newAuthorName" name="authorName">
                <div id="inputlHelp" class="form-text">Add the name for any author.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div *ngIf="isEditing" class="button-container">
            <div class="mb-3">
                <label for="inputAuthor" class="form-label">Name Author</label>
                <input type="text" class="form-control" id="inputAuthor" [(ngModel)]="selectedAuthor.name" name="authorName">
                <div id="inputlHelp" class="form-text">Edit the name for the author.</div>
            </div>
            <button type="button" class="btn btn-danger" (click)="CancelUpdate()" >Cancel</button>
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </form>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Author Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let item of getItems()">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td class="button-container">
                    <button class="btn btn-primary" (click)="editAuthor(item)" [disabled]="isEditing">Edit</button>
                    <button class="btn btn-danger" (click)="getDeleteAuthor(item)" [disabled]="isEditing" data-bs-toggle="modal" data-bs-target="#modalDelate">Delete</button>
                </td>
                <!-- <td>{{ item.employee_salary }}</td>
                <td>{{ item.employee_age}}</td>
                <td>{{ item.employee_anual_salary }}</td> -->
            </tr>
        </tbody>
    </table>
    <!-- <pagination *ngIf="dataSource.length"
                [(ngModel)]="currentPage"
                [totalItems]="dataSource.length"
                [itemsPerPage]="itemsPerPage"
                (pageChanged)="pageChanged($event)"
                class="d-flex justify-content-center">
    </pagination> -->


</div>

<!-- Modal -->
<div class="modal fade" #modalDelete id="modalDelate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Author</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to permanently delete this author?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No!, Sorry</button>
          <button type="button" class="btn btn-primary" (click)="deleteAuthor()">Yes, Go ahead</button>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>