<app-header></app-header>

<div class="container">
    <h1 class="text-center display-1">Library Control</h1>
    <br>
    <p>Welcome to one of the best bookstores you can find in the world, where you can find the best books available in the history of humanity, and not only that, an infinite amount of knowledge.</p>
    <p>That is why you can select any of the following two categories, where you can not only see the history of each of them, but you can edit, delete, update and add information to our library, go ahead!</p>
    <br>
    <div class="row">
        <div class="col">
            <div class="card center-cards" style="width: 20rem;">
                <img src="../../../assets/images/book.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Books</h5>
                  <p class="card-text">Check out the extensive list of books from around the world that we have for you.</p>
                  <a href="#" class="btn btn-primary">Go ahead</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card center-cards" style="width: 20rem;">
                <img src="../../../assets/images/authors.jpg" class="card-img-top " alt="...">
                <div class="card-body">
                  <h5 class="card-title">Authors</h5>
                  <p class="card-text">Check out the extensive list of authors from around the world that we have for you.</p>
                  <a href="#" class="btn btn-primary">Go ahead</a>
                </div>
            </div>
        </div>
      </div>
</div>

<app-footer></app-footer>